<div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 20rem;">
                <img src="../../assets/img/perfil.jpg" class="card-img-top rounded-circle" alt="foto de perfil"  >
                <div class="card-body">
                  <h5 class="card-title text-primary">Perfil</h5>
                  <p class="card-text">Ingeniero de software con 2 años de experiencia en desarrolo web y backend.</p>
                  <p class="card-text">Apasionado por el desarrollo de plataformas digitales con Angular, cerficiado de Angular 12.</p>
                  <p class="card-text">Busco un lugar para aplicar mis conocimientos en desarrollo de web asi como desarrollar nuevas habilidades y aprender mas sobre la ingenieria de software.</p>
                  <h5 class="card-title text-primary">Contacto</h5>
                  <p class="card-text"><strong>Email: </strong> <a href="https://www.pedrohero@gmail.com" target="_blank" >pedrohero13@gmail.com</a> </p>
                  <p class="card-text"><strong>Telefono: </strong> +52 2713156673 </p>
                  <p class="card-text"><strong>Sitio Web: </strong> <a href="http://www.miweb.com" target="_blank" >mi web</a>  </p>
                  <p class="card-text"><strong>Region: </strong> México o remoto </p>
                  <h5 class="card-title text-primary">Idiomas</h5>
                  <p class="card-text"><strong>Español: </strong> Nativo</p>
                  <p class="card-text"><strong>Ingles: </strong> Conversacional</p>
                  <h5 class="card-title text-primary">Hobbies</h5>
                  <p class="card-text">Subir video tutoriales a youtube sobre desarrollo web <br>Realizar montañismo <br>Aprender idiomas</p>
                 

                </div>
              </div>
        </div>
        <div class="col-sm-8 ">
            <div class="card" style="width: 46rem;">
            <h1><strong>Pedro de Jesus Hernandez Rojas</strong> </h1>
            <h4>Desarrollador Frontend</h4>
            <h6>Angular, React js, SQL, Docker, Azure, Java, Python</h6>
            <h4><strong>Experiencia Laboral</strong></h4>
            <hr>
            <p>
                <h5>Desarrollo web con Angular</h5>
                2020-2023, Desarrolador Web usando Angular <br>
                Desarrollo de aplicaciones web utilizando el framework Angular, así como el despliegue de dichas aplicaciones 
                utilizando docker y maquinas virtuales de Azure.
            
            <p>
                <h5>Desarrollo web con React js </h5>
                2020-2023, Desarrolador Web utilizando React js<br>
                Desarrollo de aplicaciones web utilizando el framework React js, así como el despliegue de dichas aplicaciones 
                utilizando docker y maquinas virtuales de Azure.
            

            <h4><strong>Estudios</strong></h4>
            <hr>
            <p>
                <h5>Certificación de Angular 12</h5> 
                2020-2023, Platzi.com <br>
                Para la certificación realice una pagina web basade en e-commerce y desplegada en Azure.
            

            <p>
                <h5>Licenciatura en Ingenieria de software</h5>
                2014-2018, Universidad Veracruzana <br>
                Especializado en desarrollo web y en tecnicas de ingenieria de software para el desarrolo de  productos de software.
            
            
            </div>            
        </div>
        
    </div>
</div>
