<header>
  <nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink ="">Mis certificados</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel" >Menú</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bg-dark">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink ="">Certificados</a>
            </li>    
            <div class="vr"></div>        
            <li class="nav-item">
              <a class="nav-link active" routerLink ="about">¿Quienes somos?</a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<main role="main">
  <div class="container-fluid"><router-outlet></router-outlet></div>
  

  <!-- FOOTER -->
  <footer class="container">
    <div class="footer fixed-bottom text-center text-muted bg-primary">
      <small class="text-light">Universidad Veracruzana. Todos los derechos reservados.  &copy; 2022</small>
    </div>
  </footer>
</main>
<router-outlet></router-outlet>
