
<div class="container ">
    <h1 >Certificados obtenidos</h1>
</div>
<div class="container ">
    
    <div class="card "style="width: 65rem;">
        <div class="card-body ">
          <h5 class="card-title">Certificado de Python</h5>
          <p class="card-text">Este certificado lo obtude en la plataforma de <a href="https://www.kaggle.com/" target="_blank">Kaggle</a></p>
          <p class="card-text"><small class="text-muted">Obtenido el dia 15-oct-2022</small></p>
        </div>
        <img src="../../assets/img/Pedro de Jesus Hernandez Rojas - Python.png" class="card-img-bottom " alt="certificado" >
      </div>
    
</div>